# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Cypress outputs
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Configuración local
.DS_Store
.env
*.local
